@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.margin-hero-auto {
  margin: calc(20vh - 110px) 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Forum", cursive;
}

.hero-section {
  height: -webkit-fill-available;
}
